@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background-color: whitesmoke;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header-logo{
    display: none;
}
.container{
    width: 1024px;
    height: 536px;
    display: flex;
    background-color: white;
    margin-bottom: 20px;
}
.left{
    width: 60%;
    background-image: url(images/bg-pattern-desktop.svg);
    background-size: cover;
    padding: 40px 80px;
}
.logo-img{
    width: 100px;
    margin-bottom: 80px;
}
.header{
    font-size: 60px;
    letter-spacing: 8px;
    margin: 0px 0 40px;
}
.header p{
    height: 40px;
}
.color{
    color:  hsl(0, 36%, 70%);
    font-weight: 300;
}
.text{
    color:hsl(0, 36%, 70%);
    font-size: 16px;
    width: 80%;
    margin-bottom: 28px;
}
.right{
    width: 40%;  
}
.photo{
    width: 100%;
    content: url(images/hero-desktop.jpg);
    object-fit: contain;
}
.email{
    border: none;
}
.form{
    position: relative;
    width: 80%;
}
.form-email{
    width: 100%;
    border: 1px solid hsl(0, 36%, 70%);
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding:16px 28px;
}
.email{
    width: 70%;
    color: hsl(0, 36%, 70%);
}
.email:focus{
    outline: none;
}
.submit-btn{
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.error{
    display: none;
    height: 26px;
    transition: 0.4s ease-in-out;
}
.error-msg{
    margin-left: 28px;
    font-size: 14px;
    margin-top: 8px;
}
.submit{
    width: 88px;
    height: 47px;
    background-color: hsl(0, 78%, 70%);
    border: none;
    border-radius: 30px;
    transition: 0.4s;
}
.submit:hover{
    transform: scale(1.1);
}
@media(max-width: 425px){
    .body{
        background-color: hsl(0, 47%, 94%);
    }
    .container{
        flex-direction: column-reverse;
        width: 100%;
        height: 100vh;
        margin-bottom: 0;
    }
    .left{
        width: 100%;
        padding: 0px;
        background-image: none;
        height: 50%;
    }
    .right{
        width: 100%;
        padding-bottom: 16px; 
        height: 260px;
        height: 40%;
    }
    .photo{
        content: url(images/hero-mobile.jpg);
        object-fit: cover;
        width: 100%;
    }
    .logo{
        display: none;
    }
    .header-logo{
        display: block;
        top: 0;
        width: 100%;
        height: 10%;
        padding: 20px;
    }
    .logo-img{
        margin-bottom: 0px;
    }
    .main-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .header{
        margin-bottom: 12px;
        font-size: 40px;
        font-weight: 600;
    }
    .text{
        margin-bottom: 12px;
    }
    .header > p{
        text-align: center;
    }
    .text{
        text-align: center;
        font-size: 12px;
    }
    .form{
        margin: 0 auto;
        padding-bottom: 41px;
    }
    .attribution{
        display: none;
    }
    .email{
        background-color: transparent;
        width: 62%;
    }
    .submit{
        width: 60px;
        height: 39px;
    }
    .form-email{
        padding: 12px 28px;
    }
}